# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/all/libraries

.htaccess
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
*.txt
includes
misc
modules
profiles
scripts
themes/bartik
themes/engines
themes/garland
themes/seven
themes/stark
web.config
fitness-news.dd
sites/all/themes/mobile

default.settings.php
example.sites.php
sites.php

!sites/all/modules/custom
!sites/all/modules/features
!sites/all/themes/custom
