# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/all/libraries

.htaccess
*.php
*.txt
includes
misc
modules
profiles
scripts
themes
web.config

!sites/all/modules/custom
!sites/all/modules/features
!sites/all/themes
