body {
  font-family: 'jaf-facitweb';
  background-color: #fffaff;
  color: #3d5;
  margin: 0;
  overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'myriad-pro-condensed';
  font-weight: normal;
}


h1 {
  font-size: 1.6em;
  line-height: 1.1em;
  margin: 0.5em 0;
}


p {
  margin: 1em 0 0;
  font-size: 0.85em;
  line-height: 1.3em;
}

.field-name-field-dek {
  font-size: 1.8em;
  margin-top: 66px;
}


.field-name-field-call-to-action {
  text-align: center;
  margin: 66px auto 40px;
}

.field-name-field-call-to-action .field-item {
  display: inline-block;
  padding: 19px 82px;
  background-color: #2b3;
  border-radius: 25px;
  border: 3px solid white;
}

.field-name-field-call-to-action a,
.field-name-field-call-to-action a:active
.field-name-field-call-to-action a:focus,
.field-name-field-call-to-action a:hover,
.field-name-field-call-to-action a:visited {
  color: white;
  font-size: 1.8em;
}

li a, li a:active, li a:focus, li a:hover, li a:visited,
a, a:active, a:focus, a:hover, a:visited {
  color: #2b3;
  text-decoration: none;
}

a#logo {
  float: left;
  margin: 12px 0 5px 20px;
}

.node-unpublished {
  background-color: #f8a;
}


.breadcrumb {
  display: none;
}


#main-wrapper {
  padding: 0;
  margin: 10px 0 10px 10px;
  color: lightgrey;
}


body.front div.view-top-5-articles div.views-row {
  float: left;
  padding: 0 10px 10px 0;
}


body.front div.view-top-5-articles div.views-row div.field-name-field-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}


body.front div.view-top-5-articles div.node-article,
body.front div.view-top-5-articles div.node-article img {
  overflow: hidden;
  position: relative;
}


body.front div.view-top-5-articles.view-display-id-page_1 div.views-row-1 div.node-article,
body.front div.view-top-5-articles.view-display-id-page_1 div.views-row-1 div.node-article img {
}

body.front div.view-top-5-articles div.node-article img {
  width: 100%;
  height: 100%;
}


body.front div.node-article div.group-text-front-page-text {
  position: absolute;
  bottom: 0px;
  text-align: center;
  overflow: hidden;
  margin: 0;
  max-height: 300px;
  width: calc(100% - 16px);
  background-color: rgba(30, 55, 35, 0.6);
  border-radius: 11px 11px 0 0;
  padding: 0px 8px 11px 8px;
}


body.front div.view-top-5-articles.view-display-id-page_1 div.views-row-1 div.node-article div.group-text-front-page-text {
  border-radius: 15px 15px 0 0;
}


body.front div.node-article div.group-text-front-page-text
div.field-name-field-section {
  text-transform: uppercase;
  font-family: nimbus-sans-extended;
  font-weight: bold;
  border-bottom: 1px dotted green;
  padding-bottom: 1px;
  margin-bottom: 5px;
}


body.front div.node-article div.group-text-front-page-text
div.field-name-title h1 {
  margin-bottom: 0;
}


body.front div.view-top-5-articles.view-display-id-page_1 div.views-row-1 div.node-article div.group-text-front-page-text div.field-name-body {
  display: block;
}


body.front div.node-article div.group-text-front-page-text div.field-name-body {
  display: none;
}


.section {
  margin: 0;
}

ul.nice-menu-main-menu {
  width: 100%;
  margin: 0;
  font-family: nimbus-sans-extended;
  font-weight: bold;
  font-size: 0.56em;
}


ul.nice-menu-main-menu li {
  width: 20%;
  border: none;
  background-color: initial;
  text-transform: uppercase;
  text-align: center;
  padding: 3px 0 4px;
  border-bottom: 2px solid black;
}

ul.nice-menu-main-menu li.active-trail {
  border-bottom: 2px solid #2b3;
}

ul.nice-menu-main-menu li.menu-path-taxonomy-term-1 {
  background-color: #1d3;
}

ul.nice-menu-main-menu li.menu-path-taxonomy-term-2 {
  background-color: #1dd;
}

ul.nice-menu-main-menu li.menu-path-taxonomy-term-3 {
  background-color: #31d;
}

ul.nice-menu-main-menu li.menu-path-taxonomy-term-4 {
  background-color: #d13;
}

ul.nice-menu-main-menu li.menu-path-taxonomy-term-5 {
  background-color: #d39;
}

ul.nice-menu-main-menu li a,
ul.nice-menu-main-menu li a:active,
ul.nice-menu-main-menu li a:focus,
ul.nice-menu-main-menu li a:hover,
ul.nice-menu-main-menu li a:visited {
  color: white;
}


#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative;
}

#content {
  width: 100%;
}
body.sidebar-first #content {
  width: 80%;
  left: 20%; /* LTR */
}
body.sidebar-second #content {
  width: 80%;
}
body.two-sidebars #content {
  width: 60%;
  left: 20%;
}

#sidebar-first {
  width: 20%;
  left: -80%; /* LTR */
}

body.two-sidebars #sidebar-first {
  left: -60%; /* LTR */
}

#sidebar-second {
  float: right; /* LTR */
  width: 20%;
}


div.tabs {
  position: absolute;
  top: 0;
  right: 0;
}

ul.tabs.primary {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  z-index: 9;
}

ul.tabs.primary li a {
  border: none;
  margin: 0;
  padding: 0;
  background-color: initial;
}

ul.tabs.primary li {
  display: block;
}


div.codeblock, tr.odd, tr.even {
  background-color: #6b6a69 !important;
}


body.page-node.node-type-article #main {
  background-color: rgba( 50, 65, 55, 0.67);
  border-radius: 56px;
  margin: 22px 10px 0 0;
  padding: 0 14px 10px 20px;
}


h1.title {
  text-align: center;
  color: #2b3;
  font-weight: bold;
}


body.page-node.node-type-article #main p {
  text-align: center;
}


body.page-node.node-type-article #main div.field-name-field-more-info-link {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 4px 0;
}


body.page-node.node-type-article #main div.group-byline {
  text-align: center;
  font-size: 0.5em;
  margin-top: -1.6em;
  color: #899;
}


body.page-node.node-type-article #main div.group-byline div.field {
  display: inline-block;
}
